 
.dialogBodyViewLogs {
    width: 100%;
}
.logText {
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 5%;
  text-align: justify;
  font-family: Consolas;
}
.closeDialog {
  text-align: center;
  vertical-align: middle;
  line-height: 1.8;
  position: relative;
  min-width: 70px;
  border-radius: 2px;
  font-size: 14px;
  white-space: normal;
  color: #fff;
  background-color: #0068b5;
  border: medium solid transparent;
  -webkit-appearance: button;
  cursor: pointer;
  border-width: 0;
  padding: 0.3em 4em;
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
  margin-bottom: 5% ;
  cursor: pointer;
}
.closeDialogDiv {
    display: flex;
    justify-content: right;
    padding-right: 5%;
    padding-left: 5%;
}
.viewLogDialogTitle {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 5%;
    padding-top: 5%;
    color: #202020;
}
.viewLogDialogCheckbox {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 5%;
  padding-top: 1%;
  color: #202020;
}
.Bare {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  top: 0px;
  left: 15px ;
  background: rgb(255, 255, 255);
  height: 100%;
  overflow: auto;
  border-radius: 4px;
  font-size: 12px;
  margin: 40px;
  margin-top: 1px;
  margin-bottom: -15px;
  font-size: 14px;
  
}
.viewLogDialogCheckbox {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 5%;
  padding-top: 1%;
  color: #202020;
  font-family: "IntelOne-Display-Regular","IntelOne-Display-Medium","IntelOne-Display-Light","IntelOne-Display-Bold";
}
.viewLogDialog {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 1%;
  padding-top: 1%;
  color: #202020;
  font-family: "IntelOne-Display-Regular","IntelOne-Display-Medium","IntelOne-Display-Light","IntelOne-Display-Bold";
}
.Refreshtext{
  margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  width: 9%;
  height: 5%;
}