.dialogTitle {
    font-size: 16px;
    line-height: 24px;
    color: #2B2C30;
    font-weight: bold;
  }
  
  .dialogContent {
    font-size: 14px;
    line-height: 20px;
    color: #2B2C30;
    width: 522px !important;  
    height: auto !important;
    padding-left: 0 !important;
  }
  
  .dialogBodyWrapper{
    padding: 16px 24px;
    width: 570px;
    height:146px
  }
  
  .closeDialogs{
    display: flex;
    margin-top: 36px;
  }
  
  .closeDialogs button {
    margin-right: 10px;
    background-color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 16px;
    color: #2B2C30;
  }
