/* @import "./fonts/font.css"; */
.App {
  /* text-align: center; */
  font-family: "IntelOne-Display-Regular" !important;
  color:"#262626" !important;
  /* font:IntelOne-Display-Medium !important; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button{
  background: "#fff 0% 0% no-repeat padding-box";
  border: "1px solid #2B2C30";
  border-radius:5px;
  color:"#262626";
}
button:hover{
    background:"#E9EAEB 0% 0% no-repeat padding-box";
    border: "1px solid #2B2C30";
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
font-family: "IntelOne-Display-Regular";
src: local("IntelOne-Display-Regular");
src: url("fonts/intelone-display-regular.ttf") format('truetype'),
    url("fonts/intelone-display-regular.woff") format('woff'),
    url("fonts/intelone-display-regular.woff2") format('woff2'),
   url("fonts/intelone-display-regular.otf") format("otf");
}
/* @font-face {
  font-family: "IntelOne-Display-Medium";
  src: local("IntelOne-Display-Medium"),
  url ("../fonts/intelone-display-medium.ttf") format("truetype");
  } */
